<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- connection to htmx -->
    <script src="https://unpkg.com/htmx.org@latest/dist/htmx.min.js"></script>
    <style>
        .htmx-indicator {
            opacity: 0;
            transition: opacity 500ms ease-in;
        }

        .htmx-request .htmx-indicator {
            opacity: 1
        }

        .htmx-request.htmx-indicator {
            opacity: 1
        }
    </style>
</head>

<body>

    <img src="assets\HTMX-swapguide.PNG" width="500px">
    <br>

    <button hx-on="click:alert('Clicked!')">Click Alert</button>
    <br>
    <!-- Need to test hx-get, hx-post, etc. with a running backend server; test with NodeJS or dotNet -->
    <button hx-get="http://localhost:5007/pizzas" hx-swap="outerHTML" hx-target="#pizzaList">
        GET: All Pizzas
    </button>
    <br>
    <br>
    <h2>PIZZA SERVER</h2>
    <img id="masterSpinner" class="htmx-indicator" src="assets/loadingbars.svg" style="width:100px"/>
    <br>
    <div id="pizzaList" style="background-color: yellow; width: 100%; height: 4vw;"></div>
    <br>
    <br>
    <!-- htmx requests for all main HTTP verbs -->
    <button hx-get="http://localhost:5007/pizzas/1" hx-swap="outerHTML" hx-target="#pizzaDetails">
        GET: Pizza 1
    </button>
    <br>
    <br>


    <!-- this hx-post element sends URL-encoded data to the server; the server then parses it into JSON, and returns the response, which may be HTML-->
    <form id="pizzaForm" hx-post="http://localhost:5007/pizzas" hx-swap="outerHTML" hx-target="#pizzaForm" hx-indicator="#masterSpinner">
        <input type="number" name="id" placeholder="ID">
        <input type="text" name="name" placeholder="Name">
        <button type="submit">POST: Create Pizza</button>
    </form>
    <br>
    <br>
    <button hx-put="http://localhost:5007/pizzas/1" hx-swap="outerHTML" hx-target="#pizzaForm">
        PUT: Update Pizza 1
    </button>
    <button hx-delete="http://localhost:5007/pizzas/1" hx-swap="outerHTML" hx-target="#pizzaList">
        DELETE: Pizza 1
    </button>

    <div id="pizzaDetails"></div>
    <div id="pizzaForm"></div>

    <br>
    <br>
    <br>
    <br>
    <button hx-get="http://localhost:5007/htmx" hx-swap="outerHTML" hx-target="#htmxfield" hx-indicator="#spinner">
        Fetch HTML
    </button>

    <h2>GENERIC HTMX RESPONSE SERVER</h2>
    <br>
    <div id="htmxfield" style="background-color: yellow; width: 100%; height: 4vw;"></div>

    <script>
        // empty...
    </script>
</body>

</html>



</body>

</html>